* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1194px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.auth {
  margin-left: auto;
}
.search-form {
  margin-left: 76px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-button {
  background-color: #eeeeee;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.search-input {
  background-color: #eeeeee;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}
.shopping-counter {
  position: absolute;
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  padding: 5px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}
.slide-text-lite {
  background: grey;
  color: white;
}
.slide {
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
  position: relative;
  overflow: hidden;
}
.slide__title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.button-primary {
  background: #f47322;
  color: white;
}
.button-default {
  background-color: #fff;
  color: #5f5f61;
}
.button {
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
.slide-content {
  max-width: 400px;
  position: relative;
}
.slide-summer {
  background-image: url("../img/summer.png");
  background-repeat: no-repeat;
  box-sizing: cover;
}
.slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}
.promo {
  display: flex;
  justify-content: space-between;
  margin: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.card {
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 32px;
  max-width: 570px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
}
.card:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(.png);
}
.card-text-light {
  color: white;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.card-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-card {
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}
.deilvery-week {
  padding: 100px 0px;
}
.delivery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  padding: 5px 10px;
}
.tag-health {
  background: #d0fd89;
}
.tag-vegan {
  background: #aebc41;
  color: white;
}
.tag-meet {
  background: #b86b78;
  color: #ffffff;
}
.tag-bird {
  background: #d68334;
  color: #ffffff;
}
.tag-fish {
  background: #cd6255;
  color: #ffffff;
}
.tag-child {
  background: #fffdbf;
  color: #49494f;
}
.tag-parents {
  background: #f6fdc8;
  color: #49494f;
}
.tag-holyday {
  background: #fef7fe;
  color: #49494f;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.section-grey {
  background: #f6f6f6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 62px;
}
.tabs-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  margin-right: 58px;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-card {
  max-width: 270px;
  background-color: #fff;
  border-radius: 20px;
  margin: 11px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.tabs-image {
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  margin-top: 0px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
  margin-bottom: 5px;
}
.tabs-weit {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-outline {
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
}
.tabs-content {
  display: flex;
  justify-content: space-between;
  margin: -11px;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
  cursor: pointer;
}
.section-white {
  background-color: #fff;
}
.tabs-vector {
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.txt {
  text-align: center;
}
.tnt {
  line-height: 22px;
  text-align: center;
  color: #49494f;
}
.tht {
  background-color: white;
  max-height: 296px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.footer {
  padding: 40px 0px;
  background: #f6f6f6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 50px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}
